<template name="productComponentNavbarBottom">
  <nav class="productComponentNavbarBottom d-flex gap-2 bg-white shadow p-2">

    <div class="flex-grow-1">
      <form id="brdProductComponentNavbarBottomForm">
        <textarea class="form-control" rows="1" name="message" placeholder="Mesajınızı yazın"></textarea>
      </form>
    </div>

    <div class="flex-grow-0">
      <button type="submit" form="brdProductComponentNavbarBottomForm" class="btn btn-success"><i class="fas fa-paper-plane fa-lg"></i></button>
    </div>

  </nav>
</template>